.card {
  min-width: 100%;
  background-color: transparent !important;
}

.card-title {
  color: var(--primary-color) !important;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  color: var(--white) !important;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card-body {
  padding: 1rem !important;
}