:root {
  --primary-color: #1e81b0;
  --primary-color-lighter: #78b3cf;
  --secondary-color: #282828;
  --black: #000;
  --white: #FFF;
  --gray: rgba(255,255,255,.5);
}

::-moz-selection { background: var(--white); }
::selection { background: var(--white); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  background-image: linear-gradient(var(--secondary-color), var(--black));
  min-height: 100%;
}


.form-label {
  color: #FFF;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border: none !important;
}

.btn-outline-light {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}